<div class="row">
    
    <div id="R41804528857423459" class=""> 
<!-- ervoor --> <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">42</div>
                    <div>Nuevas publicaciones</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
              <%= link_to statuses_path, class: "" do %>
                    <span class="pull-left"></span> Ver todas<% end %>
               
                <span class="pull-right"><i class="fa fa-comments style="color:oranbluege""></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div><div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">12</div>
                    <div>Próximas tareas</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
               <%= link_to tasts_path, class: "" do %>
                    <span class="pull-left"></span> Ver todas<% end %>
                <span class="pull-right"><i class="fa fa-tasks style="color:green""></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div><div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">124</div>
                    <div>Pagos recibidos</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                  <%= link_to journals_path, class: "" do %>
                    <span class="pull-left"></span> Ver todos<% end %>
                <span class="pull-right"><i class="fa fa-shopping-cart style="color:orange""></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div><div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-ticket fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">13</div>
                    <div>Pagos realizados</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                  <%= link_to statuses_path, class: "" do %>
                    <span class="pull-left"></span> Ver todos<% end %>
                <span class="pull-right"><i class="fa fa-ticket style="color:red""></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div> <!-- erna -->

</div>

</div>
<div class="row">
    <div class="col-md-8 alpha ">
    <div id="R42166521462904505" class="panel  panel-default">
    
    <!-- /.panel-heading -->
    <div class="panel-body"> 
        

        
    </div>
    <!-- /.panel-body -->
    
    <!-- /.panel-footer -->
</div>
<!-- /.panel -->


</div><div class="col-md-4 omega ">
   <div class="row">
        <div class="">
            <div id="R41884508275956763" class="panel  panel-warning">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notificaciones   
        <div class="pull-right">
            <div class="btn-group">
                
            </div>
        </div>    
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body"> 
         <div class="list-group"><a href="#" class="list-group-item">
    <i class="fa fa-comment fa-fw"></i> Nuevas publicaciones
    <span class="pull-right text-muted small"><em>4 minutes ago</em>
    </span>
</a>
<a href="#" class="list-group-item">
    <i class="fa fa-twitter fa-fw"></i> Nuevos usuarios
    <span class="pull-right text-muted small"><em>12 minutes ago</em>
    </span>
</a>
<a href="#" class="list-group-item">
    <i class="fa fa-tasks fa-fw"></i> Nuevas tareas
    <span class="pull-right text-muted small"><em>34 minutes ago</em>
    </span>
</a>
<a href="#" class="list-group-item">
    <i class="fa fa-upload fa-fw"></i> Novedades ascensores
    <span class="pull-right text-muted small"><em>11:32 AM</em>
    </span>
</a>
<a href="#" class="list-group-item">
    <i class="fa fa-bolt fa-fw"></i> Novedades servicios
    <span class="pull-right text-muted small"><em>11:13 AM</em>
    </span>
</a>
<a href="#" class="list-group-item">
    <i class="fa fa-warning fa-fw"></i> Alertas
    <span class="pull-right text-muted small"><em>10:57 AM</em>
    </span>
</a>
<a href="#" class="list-group-item">
    <i class="fa fa-money fa-fw"></i> Pagos recibidos
    <span class="pull-right text-muted small"><em>Yesterday</em>
    </span>
</a>
 </div>
<!-- /.list-group --><table summary="" cellspacing="0" cellpadding="0" border="0" width="100%"><tbody><tr><td align="right"><a onclick="apex.submit('VIEW_ALL_ALERTS');" class="btn btn-default btn-block" role="button" id="B41856523755828763">Ver todo</a></td></tr></tbody></table>
        <br/>
    <!-- /.panel-body -->
            <!-- Fluid width widget -->        
           
    <!-- /.panel-footer -->
</div>
        
    </div>
    <!-- /.panel-body -->
    
    <!-- /.panel-footer -->
</div>
<!-- /.panel -->


</div>
</div>