<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @subpayableaccount.type %>
</p>

<%= link_to 'Edit', edit_subpayableaccount_path(@subpayableaccount) %> |
<%= link_to 'Back', subpayableaccounts_path %>
