<div class="container">
  <div class="well">
    <%= link_to "Nuevo Ingreso", new_payableaccount_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-payableaccount"></div>
  
  <table class="table-responsive order-column uk-table uk-table-hover uk-table-striped display">
    <thead>
      <tr>
        <th>Tipo</th>        
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="payableaccount-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>
<div id="payableaccount-modal" class="modal fade"></div>