<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contrase침a. Puedes hacer esto en el siguiente link:</p>

<p><%= link_to 'Cambiar contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no lo has solicitado, por favor ignorar este email.</p>
<p>Tu contrase침a no ser치 modificada hasta que accedas al link anterior y crees una nueva.</p>
